.clear::before, .clear::after,
.site-wrapper::before,
.site-wrapper::after,
.site-header::before,
.site-header::after,
.site-branding::before,
.site-branding::after,
.main-navigation::before,
.main-navigation::after,
.navigation::before,
.navigation::after,
.nav-links::before,
.nav-links::after,
.site-content::before,
.site-content::after,
.site-main::before,
.site-main::after,
.sidebar::before,
.sidebar::after,
.hentry::before,
.hentry::after,
.post-content-wrapper-single::before,
.post-content-wrapper-single::after,
.entry-data-wrapper-single::before,
.entry-data-wrapper-single::after,
.entry-content::before,
.entry-content::after,
.widget::before,
.widget::after,
.site-footer::before,
.site-footer::after,
.site-info::before,
.site-info::after,
.site-info-inside::before,
.site-info-inside::after,
.comment-body::before,
.comment-body::after,
.comment-meta::before,
.comment-meta::after,
.comment-content::before,
.comment-content::after {
    content: " ";
    display: table;
}

.clear::after,
.site-wrapper::after,
.site-header::after,
.site-branding::after,
.main-navigation::after,
.navigation::after,
.nav-links::after,
.site-content::after,
.site-main::after,
.sidebar::after,
.hentry::after,
.post-content-wrapper-single::after,
.entry-data-wrapper-single::after,
.entry-content::after,
.widget::after,
.site-footer::after,
.site-info::after,
.site-info-inside::after,
.comment-body::after,
.comment-meta::after,
.comment-content::after {
    clear: both;
}